<div>
    <div>
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 id="title"></h3>
                        <p id="data"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*-----------------------------------*@


    @*-----------------------------------*@
    <div style="width:100%;padding: 1px 30px;">
        
        <div class="row">
            <div class="col-2" style="padding:0;background:white;">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a style="border-radius: 0;" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                    <a style="border-radius: 0;" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Articles</a>
                    <a style="border-radius: 0;" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Stories</a>
                    <a style="border-radius: 0;" class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Questions</a>
                   
                </div>
            </div>
            <div class="col-10">

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Articles
                                    </div>
                                    <div class="card-body">
                                        <i class="bi bi-book" style="font-size: 40px;"></i> <p class="report-home-text" id="uarticle"> @ViewBag.UserStories.Count </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Stories
                                    </div>
                                    <div class="card-body">
                                        <i class="bi bi-card-text" style="font-size: 40px;"></i><p class="report-home-text" id="ustory"> @ViewBag.UserStories.Count</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Questions
                                    </div>
                                    <div class="card-body">
                                        <i class="bi bi-chat-right-text" style="font-size: 40px;"></i><p class="report-home-text" id="uquestion"> @ViewBag.UserQuestions.Count</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />
                       
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        CHART
                                    </div>
                                    <div class="card-body">
                                        <div id="userChart" style="width:100%;height:250px;display:contents" onloadeddata="userChartPloat()"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="card">
                            <div class="card-header">
                                Articles
                            </div>
                            <div class="card-body">
                                <table id="exampleTable1" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Article</th>
                                            <th>UID</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            if (ViewBag.UserArticles != null)
                                            {
                                                foreach (Articles at in ViewBag.UserArticles)
                                                {

                                                    <tr>
                                                        <td>@at.Title</td>
                                                        <td>@Html.Raw(at.Article)</td>
                                                        <td>@at.Uid</td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="card">
                            <div class="card-header">
                                Stories
                            </div>
                            <div class="card-body">
                                <table id="exampleTable" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Author</th>
                                            <th>Story</th>
                                            <th>UID</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>

                                    <tbody id="story">
                                        @{
                                            if (ViewBag.UserStories != null)
                                            {
                                                foreach (Story st in ViewBag.UserStories)
                                                {

                                                    <tr>
                                                        <td>@st.Author</td>
                                                        <td>@st.Storie</td>
                                                        <td>@st.Uid</td>
                                                        <td>
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                                                                view
                                                            </button>

                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="card">
                            <div class="card-header">
                                Questions
                            </div>
                            <div class="card-body">
                                <table id="exampleTable2" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Question</th>
                                            <th>Answer</th>
                                            <th>UID</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            if (ViewBag.UserQuestions != null)
                                            {
                                                foreach (Questions qt in ViewBag.UserQuestions)
                                                {

                                                    <tr>
                                                        <td>@qt.Question</td>
                                                        <td>@qt.Answer</td>
                                                        <td>@qt.Uid</td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    
</div>